<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg" />
    <title>cult</title>
    <link rel="stylesheet" href="/cult.css">
</head>

<body>

    <!-- navbar -->
    <%- include("../components/navbar") %>
        <!-- navbar ends here -->

        <div class="image1">
            <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_2880:595/dpr_2/image/vm/1d4432e1-4d61-456e-b808-60aab9df6b60.png"
                alt="">
        </div>

        <div class="cont">
            <div class="image2">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:100/dpr_2/image/vm/84544577-584c-459d-b25c-134076c4b4c9.png"
                    alt="">
            </div>

            <div class="image3">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:100/dpr_2/image/vm/35cb3d36-ef28-4f4d-b481-58f84c705a8c.png"
                    alt="">
            </div>
        </div>

         <div class="online-pt">
            <div class="heading-opt">Online Personal Training</div>
            <div class="heading-opt-member">MEMBERSHIP</div>
            <div class="heading-opt-enjoy">ENJOY THE BENEFITS OF</div>
            <div class="container-pt">
                <div class="at-home">
                    <div class="at-home-img"><img
                            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/icons/livept/web/home.png"
                            alt=""></div>
                    <div class="at-home-cont">At Home Workouts</div>
                </div>
                <div class="personalised">
                    <div class="personalised-img">

                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/icons/livept/web/cult.png"
                            alt="">
                    </div>
                    <div class="personalised-cont">
                        Personalized Workouts

                    </div>
                </div>
                <div class="posture">
                    <div class="posture-img">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/icons/livept/web/plan.png"
                            alt="">
                    </div>
                    <div class="posture-cont">
                        Posture Correction
                    </div>

                </div>

            </div>

            <div class="subscription">
                Choose Your Subscription
            </div>
            <div class="coupon">


                <!-- html coupon 1 start -->
        <div class="coupon-1">
                    <div class="buy-and-price">
                        <div class="sessions-price">
                            <p class="para"> 100+10 sessions</p>
                            <div class="discount">
                                <div class="cross-rate">₹ 29990</div>
                                <div class="actual-price">₹ 22990</div>
                            </div>
                            <div class="validity">
                                240 days validity
                            </div>
                        </div>
                        <div class="buy"> Buy </div>
                    </div>
                    <div class="somthing">
                        <div class="somthing-img">
                            <img src="https://static.cure.fit/assets/images/offer-icon-copy.svg">
                        </div>
                        <div class="somthing-para">
                            <p>FREE 10-session extension on 100 sessions pack</p>
                        </div>
                    </div>
                </div>


                <div class="coupon-2">

                    <div class="buy-and-price">
                        <div class="sessions-price">
                            <p class="para"> 100+10 sessions</p>
                            <div class="discount">
                                <div class="cross-rate">₹ 29990</div>
                                <div class="actual-price">₹ 22990</div>
                            </div>
                            <div class="validity">
                                240 days validity
                            </div>
                        </div>
                        <div class="buy"> Buy </div>
                    </div>
                    <div class="somthing">
                        <div class="somthing-img">
                            <img src="https://static.cure.fit/assets/images/offer-icon-copy.svg">
                        </div>
                        <div class="somthing-para">
                            <p>FREE 10-session extension on 100 sessions pack</p>
                        </div>
                    </div>

                </div>
                <div class="coupon-3">

                    <div class="buy-and-price">
                        <div class="sessions-price">
                            <p class="para"> 100+10 sessions</p>
                            <div class="discount">
                                <div class="cross-rate">₹ 29990</div>
                                <div class="actual-price">₹ 22990</div>
                            </div>
                            <div class="validity">
                                240 days validity
                            </div>
                        </div>
                        <div class="buy"> Buy </div>
                    </div>
                    <div class="somthing">
                        <div class="somthing-img">
                            <img src="https://static.cure.fit/assets/images/offer-icon-copy.svg">
                        </div>
                        <div class="somthing-para">
                            <p>FREE 10-session extension on 100 sessions pack</p>
                        </div>
                    </div>

                </div>
            </div>

        </div> 

        <div class="cont">
            <p class="workouts">WORKOUTS</p>
            <div class="categories">
                <div class="container">
                    <div class="top-left">Yoga</div>

                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_485,ar_485:323,c_fit/dpr_2/v1/cult-media/v2web/workouts/1_id/PRODUCT_BNR_2020-02-04T13:19:29.014Z.png" />
                </div>



                <div class="container">
                    <div class="top-left">Boxing</div>

                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_485,ar_485:323,c_fit/dpr_2/v1/cult-media/v2web/workouts/4_id/PRODUCT_BNR_2020-07-21T18:32:59.441Z.png" />
                </div>



                <div class="container">
                    <div class="top-left">S & C</div>

                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_485,ar_485:323,c_fit/dpr_2/v1/cult-media/v2web/workouts/5_id/PRODUCT_BNR_2021-08-29T02:31:39.995Z.png" />
                </div>



                <div class="container">
                    <div class="top-left">HRX Workout</div>

                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_485,ar_485:323,c_fit/dpr_2/v1/cult-media/v2web/workouts/22_id/PRODUCT_BNR_2020-03-04T11:36:46.263Z.png" />
                </div>


                <div class="container">
                    <div class="top-left">Dance</div>

                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_485,ar_485:323,c_fit/dpr_2/v1/cult-media/v2web/workouts/84_id/PRODUCT_BNR_2020-02-04T13:04:53.343Z.png" />
                </div>

                <div class="container">
                    <div class="top-left">Sports</div>

                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_485,ar_485:323,c_fit/dpr_2/v1/cult-media/v2web/workouts/badminton_2_1628607860.png" />
                </div>
            </div>

            
        </div>
        <!-- footer -->
        <%- include("../components/footer") %>
            <!-- footer ends -->


</body>

</html>