<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg">
    <link rel="stylesheet" href="index.css" />
    <title>Home Page</title>
</head>

<body>

    <!-- navbar -->
    <%- include("../components/navbar") %>
        <!-- navbar ends here -->

        <!-- Upper Conatiner -->
        <div id="home-container">
            <div id="video-cont">
                <div class="video-text-container">
                    <h1 class="home-main-meading">
                        For the
                        <span class="animated-words">
                            <span class="item-words">
                                <span style="color: #29b9ed">Fun</span>
                            </span>
                            <span class="item-words">
                                <span style="color: #29b9ed">Love</span>
                            </span>
                        </span>
                        <br />
                        of Fit.
                    </h1>

                    <p class="home-main-subheading">
                        At cult.fit, we strive to keep you fit &amp; healthy through a range
                        of holistic offerings that include fitness and yoga, healthy meals,
                        mental wellbeing and primary care. Now anyone can now stay healthy
                        from the safety of their homes with just a single app that helps you
                        to #BeBetterEveryDay
                    </p>
                </div>

                <!-- cult video -->
                <div class="video-div">
                    <video autoplay="autoplay" controls>
                        <source
                            src="https://cdn-images.cure.fit/www-curefit-com/video/upload/w_800,q_auto:eco/vc_auto/video/vm/32b91e40-0e2c-477b-a2ad-88d437d0f07f.mp4"
                            type="video/mp4" />
                        <source src="movie.ogg" type="video/ogg" />
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>

            <!-- Second Part of home page  -->
            <div class="second-Part">
                <img src="https://static.cure.fit/assets/images/live-brand.svg" class="img-section" />

                <div class="part-middle">
                    <div class="heading-middle">
                        <h1 class="part-Heading">At-home health & fitness made easy</h1>
                    </div>

                    <div class="explore-link">
                        <p class="explore-Btn">Explore</p>
                        <p class="arrow-Sign">></p>
                    </div>
                </div>
                <p class="part-subheading">
                    Get fit and stay healthy from the comfort of your home with live
                    workouts
                </p>
            </div>

            <!-- Slider 1 -->
            <div class="carousel-parent">
                <div class="carousel-container">
                    <div class="one carousel-item">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6285c073-5e3d-4abf-9189-21403628a1f4.png"
                            alt="" />
                    </div>

                    <div class="two carousel-item">
                        <img
                            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/f66c717a-bcb9-4d64-b227-115d1010b610.jpeg">
                    </div>

                    <div class="three carousel-item">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/aedcb538-777e-4564-b422-30eb8dc220d2.png"
                            alt="" />
                    </div>


                    <div class="one carousel-item">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6285c073-5e3d-4abf-9189-21403628a1f4.png"
                            alt="" />
                    </div>
                </div>
            </div>


            <!-- fourth Part of home page  -->
            <div class="fourth-Part">
                <img src="https://static.cure.fit/assets/images/cult-sports.svg" class="img-section" />

                <div class="part-middle">
                    <div class="heading-middle">
                        <h1 class="part-Heading">Collection of premium athleisure wear</h1>
                    </div>

                    <div class="explore-link">
                        <p class="explore-Btn">Explore</p>
                        <p class="arrow-Sign">></p>
                    </div>
                </div>
                <p class="part-subheading">
                    Browse through our collection to help you ace your workouts in style
                </p>
            </div>

            <!-- Slider 1 -->
            <div class="carousel-parent1">
                <div class="carousel-container1">
                    <div class="one carousel-item1">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/d2ceda2f-0362-43f6-9a5a-d1c57f54e7f9.png"
                            alt="" />
                    </div>

                    <div class="two carousel-item1">
                        <img
                            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/4041957e-947a-4cba-b9ac-940316910888.png">
                    </div>

                    <div class="three carousel-item1">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/0fedd809-8ebf-4c79-8306-0207522155fe.png"
                            alt="" />
                    </div>


                    <div class="one carousel-item1">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/d2ceda2f-0362-43f6-9a5a-d1c57f54e7f9.png"
                            alt="" />
                    </div>
                </div>
            </div>


            <!-- fivth Part of home page  -->
            <div class="fivth-Part">
                <img src="https://static.cure.fit/assets/images/care-title.svg" class="img-section" />

                <div class="part-middle">
                    <div class="heading-middle">
                        <h1 class="part-Heading">Collection of premium athleisure wear</h1>
                    </div>

                    <div class="explore-link">
                        <p class="explore-Btn">Explore</p>
                        <p class="arrow-Sign">></p>
                    </div>
                </div>
                <p class="part-subheading">
                    Browse through our collection to help you ace your workouts in style
                </p>
            </div>

            <!-- Slider 1 -->
            <div class="carousel-parent2">
                <div class="carousel-container2">
                    <div class="one carousel-item2">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6285c073-5e3d-4abf-9189-21403628a1f4.png"
                            alt="" />
                    </div>

                    <div class="two carousel-item2">
                        <img
                            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/f66c717a-bcb9-4d64-b227-115d1010b610.jpeg">
                    </div>

                    <div class="three carousel-item2">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/aedcb538-777e-4564-b422-30eb8dc220d2.png"
                            alt="" />
                    </div>


                    <div class="one carousel-item2">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6285c073-5e3d-4abf-9189-21403628a1f4.png"
                            alt="" />
                    </div>
                </div>
            </div>


        </div>

        <!-- Static part of home page -->

        <div class="lower-part">
            <div class="banner-1">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/clp/business-cult.png"
                    alt="" />
            </div>

            <div class="banner-2">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/clp/careers-cult.png"
                    alt="" />
            </div>
        </div>


        <!-- Modal -->
        <div id="modal">
            <div id="modal-content">
                <!-- cross icon -->
                <div id="model-header">
                    <span onclick="clos()" class="close">&times;</span>
                </div>

                <div id="modal-body" class="model-body">
                    <div class="image">
                        <img src="https://static.cure.fit/assets/images/curefit_login_logo.svg" />
                    </div>

                    <!-- Logo text below -->
                    <div class="logo-name">Cult fit</div>

                    <!-- Login with number -->
                    <div class="login-details">
                        <form action="/login" method="post">
                            <div class="input">
                                <input type="text" id="mobile" name="username" placeholder="Username" />
                            </div>

                            <!-- PAssword -->
                            <div class="pass">
                                <input type="text" id="password" name="password" placeholder="Password" />
                            </div>
                    </div>

                    <!-- countinoue button -->
                    <div class="button-continoue">
                        <button type="submit">Continue</button>
                    </div>
                    </form>

                    <!-- privacy line -->
                    <div class="terms-and-conditons">
                        <li class="tandc-text">
                            By Continuing you agree to the
                            <em style="color: red" class="privacy">
                                <br />
                                Terms of Services</em>
                            and
                            <em style="color: red" class="privacy"> Privacy policy.</em>
                        </li>
                    </div>

                    <!-- Create new account -->
                    <div class="create-account">
                        <a href="/register"><button id="create">Create new Account</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <%- include("../components/footer") %>
            <!-- footer ends here -->
</body>

</html>

<script>

    // carousel

    const carouselContainerElement = document.querySelector(".carousel-container");
    const carouselItemElements = document.querySelectorAll(".carousel-item");
    let currentItem = 0;

    function onInterval() {
        currentItem++;
        carouselContainerElement.style.transitionDuration = "0.5s";
        carouselContainerElement.style.transform = `translateX(-${currentItem * 100}%)`;
        if (currentItem === carouselItemElements.length - 1) {
            console.log("red");
            currentItem = -1;
        }
    }
    let interval = setInterval(onInterval, 2000);
    carouselContainerElement.addEventListener("transitionend", function () {
        if (currentItem === -1) {
            carouselContainerElement.style.transitionDuration = "0s";
            carouselContainerElement.style.transform = `translateX(0)`;
            clearInterval(interval);
            currentItem = 0;
            interval = setInterval(onInterval, 2000);
        }
        console.log(currentItem);
    })

    // carousel 2
    const carouselContainerElement1 = document.querySelector(".carousel-container1");

    const carouselItemElements1 = document.querySelectorAll(".carousel-item1");

    let currentItem1 = 0;

    function onInterval1() {
        currentItem1++;
        carouselContainerElement1.style.transitionDuration = "0.5s";
        carouselContainerElement1.style.transform = `translateX(-${currentItem1 * 100}%)`;

        if (currentItem1 === carouselItemElements1.length - 1) {
            // carouselContainerElement.style.transform = `translateX(0)`;
            // clearInterval(interval);
            console.log("red");
            currentItem1 = -1;
        }
    }
    let interval1 = setInterval(onInterval1, 2000);

    carouselContainerElement1.addEventListener("transitionend", function () {
        if (currentItem1 === -1) {
            carouselContainerElement1.style.transitionDuration = "0s";
            carouselContainerElement1.style.transform = `translateX(0)`;
            clearInterval(interval1);
            currentItem1 = 0;
            interval1 = setInterval(onInterval1, 2000);
        }

        console.log(currentItem1);
    })



    // carousel 2
    const carouselContainerElement2 = document.querySelector(".carousel-container2");

    const carouselItemElements2 = document.querySelectorAll(".carousel-item2");

    let currentItem2 = 0;

    function onInterval2() {
        currentItem2++;
        carouselContainerElement2.style.transitionDuration = "0.5s";
        carouselContainerElement2.style.transform = `translateX(-${currentItem2 * 100}%)`;

        if (currentItem2 === carouselItemElements2.length - 1) {
            // carouselContainerElement.style.transform = `translateX(0)`;
            // clearInterval(interval);
            console.log("red");
            currentItem2 = -1;
        }
    }
    let interval2 = setInterval(onInterval2, 2000);

    carouselContainerElement2.addEventListener("transitionend", function () {
        if (currentItem2 === -1) {
            carouselContainerElement2.style.transitionDuration = "0s";
            carouselContainerElement2.style.transform = `translateX(0)`;
            clearInterval(interval2);
            currentItem2 = 0;
            interval2 = setInterval(onInterval2, 2000);
        }

        console.log(currentItem2);
    })





    // Modal login logout
    function create() {
        window.location.pathname = "main/profile/signUp.html";
    }

    function submit() {
        var mobilea = document.getElementById("mobile").value;

        var passworda = document.getElementById("password").value;

        var get = JSON.parse(localStorage.getItem("user"));
        // console.log(get);

        get.forEach(function (p) {
            if (p.number == mobilea && p.password == passworda) {
                document.getElementById("modal-body").innerHTML = "";

                var pa = document.createElement("p");
                pa.setAttribute("class", "login-alert");

                pa.innerHTML = "Login successful";
                pa.style.color = "green";
                //   p.style.font-size = "30px";

                let obj = {
                    n: p.number,
                    pass: p.password,
                };

                // Login text null after login
                document.getElementsByClassName("login-text").innerHTML = "";



                var dropd = document.getElementById("dropdown");
                dropd.style.display = "block";

                localStorage.setItem("logedin", JSON.stringify(obj));
                document.getElementById("modal-body").append(pa);
            }
        });
    }

    function call() {
        var modal = document.getElementById("modal");
        modal.style.display = "block";
    }
    function clos() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }




</script>