<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg">
    <link rel="stylesheet" href="/live.css" />
    <title>Live</title>
</head>

<body>

    <!-- navbar -->
    <%- include("../components/navbar") %>
        <!-- navbar ends here -->

        <div class="slide">
            <img
                src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_2880:595/dpr_2/image/vm/4bacd6d7-1c83-463b-87d2-aa4aefe70fe0.png" />
        </div>
        <div class="container-div">
            <div class="space">

            </div>

            <div class="timebox">

                <img
                    src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:100/dpr_2/image/vm/ed24695e-aded-40a7-a576-c6b3300d551c.png" />

                <div class="space"></div>
                <img
                    src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:100/dpr_2/image/vm/472d4b9c-d9bd-47d3-ba6e-33624732b9bf.png" />
                <div class="space"></div>


                <h1>5 Must Try Workouts ></h1>
                <div class="Workouts">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/bdd86d94-48c3-4e90-8bca-754637c0213b" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/5b83cef1-3ed1-4004-b581-7666a9c9067f" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/910614dd-bce7-4db4-9e73-16bc7c3a5a0f" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/e32f7bfe-8c87-4dcb-b158-1f91f8e52459" />
                </div>
                <h1>Workouts by Format ></h1>
                <div class="Workouts">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/2e5008bd-9e06-40ad-96d8-cd1a7df156a1" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/1c4b0c6f-c6d9-4825-8512-05320a225233" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/57aa742d-751d-4d80-a250-75d67b5d5290" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/4d02e22c-d52c-4f2b-b911-4bf8656c7d01" />
                </div>
                <h1>Belly Burn Workouts ></h1>
                <div class="Workouts">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/b9a4b82c-48e6-4e8f-a5c8-68b38743c411" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/38a03373-4da7-4634-a9e0-74153e7671f3" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/2487b64f-5a25-4f37-b9b1-8db7626ffcae" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/e8bb12cc-50f0-4a6b-a908-e78a319de151" />
                </div>
                <h1>Workouts by Trainer ></h1>
                <div class="Workouts">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/1b65d839-66aa-459a-b507-444d027bb63e" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/231dd776-b734-4201-9fb1-890a7f5a837b" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/04976847-097b-48eb-be47-0de77260f97b" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/889333ce-4748-43b5-969e-8bc06a639182" />
                </div>
                <h1>Dance & Burn Calories ></h1>
                <div class="Workouts">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/766ba814-34f0-475d-a5ae-fedac6928fb3" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/d2018f1d-8d6d-4fc3-b802-7f6519db0e38" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/8c12b448-3e7b-4abf-b6c0-19b0b6ee287e" />
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/w_300,ar_1.77,c_fill,fl_progressive,f_auto,q_auto:eco/dpr_2/image/diy/efb6011f-ebc8-4797-915f-ebe4f89a50cb" />
                </div>

            </div>
            <div class="space"></div>

            <div class="content">

                <p class="right">SEE ALL</p>

                <h2>FAQS</h2>
                <h1>6 QUESTIONS</h1>

            </div>
            <details>
                <summary>What are LIVE Classes on cult.live?</summary>

                <div>
                    <p>LIVE classes let you experience the energy of a group fitness class, led by star trainers from
                        the
                        comfort of
                        your home. We currently offer LIVE classes across fitness formats like strength, cardio, HRX,
                        S&C
                        and yoga
                        across all 7 days of the week. Most of the classes feature bodyweight workouts which means you
                        won’t
                        need
                        equipment and free weights. LIVE classes are safe for all types of users - beginner,
                        intermediate
                        and
                        advanced. In case you are suffering through an injury, chronic pain or medical condition, we
                        recommend
                        checking with a medical expert before attending LIVE classes. To make the most of these classes,
                        we
                        recommend using the Energy Meter feature that will give real-time feedback on your workout and
                        help
                        you
                        compete with others working out with you. You will get a detailed report of your energy score
                        and
                        class rank
                        at the end of a session. To get started, all you need is good internet connection (a minimum 2
                        MBps
                        connection), an adequately charged device and a pair of comfortable shoes (needed for a few
                        workouts).</p>
                </div>

            </details>
            <details>
                <summary>What is a cultpass LIVE?</summary>

                <div>
                    <p>cultpass LIVE gives you unlimited access to all LIVE classes and DIY (on demand) sessions. This
                        includes
                        unlimited access to fitness, dance, meditation, health video content and podcasts. A cultpass
                        LIVE
                        member
                        has an all access pass to celebrity masterclasses, ability to workout with friends and track
                        their
                        energy
                        scores, and monitor their progress in the form of reports. You can purchase the membership
                        through
                        the
                        official cult.fit website or on the android app. </p>
                </div>
            </details>
            <details>
                <summary>Are there any trial sessions for cultpass LIVE? Where can I check my eligibility?</summary>

                <div>
                    <p> Every user can initiate a 7-day free trial by starting any live, or on-demand video in Fitness
                        or
                        Mindfulness tabs under the 'Live' section. Any user who hasn’t explicitly started their free
                        trial
                        is free
                        to do so. Once you start your trial, the remaining days of the free trial will be indicated on
                        your
                        schedule
                        page as well as your live page.</p>
                </div>
            </details>
            <details>
                <summary>What are the services accessible to a cultpass LIVE member?</summary>

                <div>
                    <p>cultpass LIVE gives you unlimited access to all Digital Live classes and DIY (on demand) sessions
                        across.
                        This includes unlimited access to fitness, dance, meditation, cooking and health video content
                        and
                        podcasts.
                        A member has an all access pass to celebrity masterclasses, ability to workout with friends and
                        track their
                        energy scores, and monitor their progress in the form of reports. cultpass LIVE does not include
                        online
                        personal training sessions, doctor or therapy consultations, or small group training sessions as
                        well as non
                        digital offerings of cult.fit.</p>
                </div>
            </details>
            <details>
                <summary>I’m new to working out, are LIVE classes safe for beginners like me?</summary>

                <div>
                    <p>LIVE classes are tagged basis levels - beginner, intermediate and advanced. In case you are
                        suffering
                        through
                        an injury, chronic pain or medical condition, we recommend checking with a medical expert before
                        attending
                        LIVE classes.</p>
                </div>
            </details>
            <details>
                <summary>What are the types of workouts featured in LIVE classes?</summary>

                <div>
                    <p>Most of our workouts are no-equipment routines across fitness formats like strength, cardio,
                        yoga,
                        HRX and
                        more. We recommend you wear comfortable shoes and keep a napkin and water bottle handy.</p>
                </div>

            </details>
            <div id="bottom">
                <h1 class="H">BE SPIRITED</h1>
                <h1 class="D">FEARLESS</h1>
                <h2 class="L">AN EVERYDAY ATHLETE<h2>
            </div>
        </div>
</body>

</html>
