<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg">
    <link rel="stylesheet" href="/mind.css">
    <title>Mind</title>
  </head>
<body>
   
     <!-- navbar -->
   <%- include("../components/navbar") %>
   <!-- navbar ends here -->


    <div class="mind-cont">
        <div class="hellosale">
            <div class="hellosalelogo">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:150/dpr_2/image/vm/5bb3f4e9-91fc-4867-88c5-03565c955411.png"
                    alt="">
            </div>
        </div>
        <div class="slider">
            <div class="images-slider">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_2880:595/dpr_2/image/vm/cf36e24a-5333-4e80-9f80-fbf536788939.png"
                    alt="">
            </div>
        </div>
        <div class="knowmore">
            <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:100/dpr_2/image/vm/6b3f0355-7178-4898-b4e8-d68b07a43bd6.png"
                alt="">
        </div>
        <div class="expert">
            <div class="expart-cont">EXPERTS TO HELP YOU</div>
        </div>
        <div class="consultation">
            <div class="care-consultation">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/9355d11a-f088-4f10-b9df-72ea3ecf8e0b.png"
                    alt="">


            </div>

            <div class="care-consultation">

                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/9ce1d9a2-d3c6-4a19-91bd-028d52f58c84.png"
                    alt="">

            </div>
            <div class="care-consultation">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/5e9f8ee5-83dd-4dca-beca-61885323ce3c.png"
                    alt="">
            </div>
            <div class="care-consultation">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/84248218-f8c0-44d8-b2d6-be415b742b9a.png"
                    alt="">
            </div>
            <div class="care-consultation">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/dcd1728e-d7dc-4952-b552-b1b1c97e9ac1.png"
                    alt="">
            </div>
            <div class="care-consultation">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/18a8d3b2-d262-4f78-908b-79a55a40ef68.png"
                    alt="">
            </div>
            <div class="care-consultation">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/1a2d8f7e-2c24-4cbf-88be-e2cf266dfa23.png"
                    alt="">
            </div>
            <div class="care-consultation">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_580,ar_2.279,c_fit/dpr_2/image/vm/aebc57c2-ee58-41f7-a854-00fb5c5d55f9.png"
                    alt="">
            </div>
        </div>
        <div class="booknow">
            <div class="booknow-img">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:200/dpr_2/image/vm/4cb47d66-ed1a-4d40-b42b-db27b77d2258.png"
                    alt="">
            </div>
        </div>

        <div class="online-pt">
            <div class="heading-opt">Why Buy a Pack ?</div>


            <div class="container-pt">
                <div class="at-home">
                    <div class="at-home-img"><img
                            src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/icons/mind/check_small.png"
                            alt=""></div>
                    <div class="at-home-cont">At Home Workouts</div>
                </div>
                <div class="personalised">
                    <div class="personalised-img">

                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/icons/mind/check_small.png"
                            alt="">
                    </div>
                    <div class="personalised-cont">
                        Personalized Workouts

                    </div>
                </div>
                <div class="posture">
                    <div class="posture-img">
                        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,c_fit/dpr_2/image/icons/mind/check_small.png"
                            alt="">
                    </div>
                    <div class="posture-cont">
                        Posture Correction
                    </div>

                </div>

            </div>

            <div class="subscription">
                Select a pack
            </div>
            <div class="coupon">


                <!-- html coupon 1 start -->
                <div class="coupon-1">
                    <div class="buy-and-price">
                        <div class="sessions-price">
                            <p class="para"> 100+10 sessions</p>
                            <div class="discount">
                                <div class="cross-rate">₹ 29990</div>
                                <div class="actual-price">₹ 22990</div>
                            </div>
                            <div class="validity">
                                240 days validity
                            </div>
                        </div>
                        <div class="buy"> Buy </div>
                    </div>
                    <div class="somthing">
                        <div class="somthing-img">
                            <img src="https://static.cure.fit/assets/images/offer-icon-copy.svg">
                        </div>
                        <div class="somthing-para">
                            <p>FREE 10-session extension on 100 sessions pack</p>
                        </div>
                    </div>
                </div>

                <!-- coupon-2 -->
                <div class="coupon-2">

                    <div class="buy-and-price">
                        <div class="sessions-price">
                            <p class="para"> 100+10 sessions</p>
                            <div class="discount">
                                <div class="cross-rate">₹ 29990</div>
                                <div class="actual-price">₹ 22990</div>
                            </div>
                            <div class="validity">
                                240 days validity
                            </div>
                        </div>
                        <div class="buy"> Buy </div>
                    </div>
                    <div class="somthing">
                        <div class="somthing-img">
                            <img src="https://static.cure.fit/assets/images/offer-icon-copy.svg">
                        </div>
                        <div class="somthing-para">
                            <p>FREE 10-session extension on 100 sessions pack</p>
                        </div>
                    </div>

                </div>
                <!-- coupon-3 -->
                <div class="coupon-3">

                    <div class="buy-and-price">
                        <div class="sessions-price">
                            <p class="para"> 100+10 sessions</p>
                            <div class="discount">
                                <div class="cross-rate">₹ 29990</div>
                                <div class="actual-price">₹ 22990</div>
                            </div>
                            <div class="validity">
                                240 days validity
                            </div>
                        </div>
                        <div class="buy"> Buy </div>
                    </div>
                    <div class="somthing">
                        <div class="somthing-img">
                            <img src="https://static.cure.fit/assets/images/offer-icon-copy.svg">
                        </div>
                        <div class="somthing-para">
                            <p>FREE 10-session extension on 100 sessions pack</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="freemedi">
            <div class="freemedi-img">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1360:150/dpr_2/image/vm/23f48c0c-8cca-46f7-bc49-5848459eb1df.png"
                    alt="">
            </div>

        </div>
        <div class="freemedi">
            <div class="freemediz">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1440:240/dpr_2/image/vm/8d058e84-f098-4129-b107-dc81c19af2f1.png"
                    alt="">
            </div>

        </div>
        <div class="freemedi">
            <div class="freemediz">
                <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_1440:240/dpr_2/image/vm/7f7af73c-3ee3-46c1-9129-0df18dbb02ac.png"
                    alt="">
            </div>
        </div>
        <!-- dropdown footer -->
        ​<div class="wholediv">
            <div class="content">
                <p class="right">SEE ALL</p>
                <h2 class="faq">FAQS</h2>
                <h5 class="ques">6 QUESTIONS</h5>

            </div>
            <div class="takewhole">
                <details>
                    <summary>What are LIVE Classes on cult.live?</summary>

                    <div>
                        <p>LIVE classes let you experience the energy of a group fitness class, led by star trainers
                            from
                            the comfort of your home. We currently offer LIVE classes across fitness formats like
                            strength,
                            cardio, HRX, S&C and yoga across all 7 days of the week. Most of the classes feature
                            bodyweight
                            workouts which means you won’t need equipment and free weights. LIVE classes are safe for
                            all
                            types of users - beginner, intermediate and advanced. In case you are suffering through an
                            injury, chronic pain or medical condition, we recommend checking with a medical expert
                            before
                            attending LIVE classes. To make the most of these classes, we recommend using the Energy
                            Meter
                            feature that will give real-time feedback on your workout and help you compete with others
                            working out with you. You will get a detailed report of your energy score and class rank at
                            the
                            end of a session. To get started, all you need is good internet connection (a minimum 2 MBps
                            connection), an adequately charged device and a pair of comfortable shoes (needed for a few
                            workouts).</p>
                    </div>

                </details>
                <details>
                    <summary>What is a cultpass LIVE?</summary>

                    <div>
                        <p>cultpass LIVE gives you unlimited access to all LIVE classes and DIY (on demand) sessions.
                            This
                            includes unlimited access to fitness, dance, meditation, health video content and podcasts.
                            A
                            cultpass LIVE member has an all access pass to celebrity masterclasses, ability to workout
                            with
                            friends and track their energy scores, and monitor their progress in the form of reports.
                            You
                            can purchase the membership through the official cult.fit website or on the android app.
                        </p>
                    </div>
                </details>
                <details>
                    <summary>Are there any trial sessions for cultpass LIVE? Where can I check my eligibility?</summary>

                    <div>
                        <p> Every user can initiate a 7-day free trial by starting any live, or on-demand video in
                            Fitness
                            or Mindfulness tabs under the 'Live' section. Any user who hasn’t explicitly started their
                            free
                            trial is free to do so. Once you start your trial, the remaining days of the free trial will
                            be
                            indicated on your schedule page as well as your live page.</p>
                    </div>
                </details>
                <details>
                    <summary>What are the services accessible to a cultpass LIVE member?</summary>

                    <div>
                        <p>cultpass LIVE gives you unlimited access to all Digital Live classes and DIY (on demand)
                            sessions
                            across. This includes unlimited access to fitness, dance, meditation, cooking and health
                            video
                            content and podcasts. A member has an all access pass to celebrity masterclasses, ability to
                            workout with friends and track their energy scores, and monitor their progress in the form
                            of
                            reports. cultpass LIVE does not include online personal training sessions, doctor or therapy
                            consultations, or small group training sessions as well as non digital offerings of
                            cult.fit.
                        </p>
                    </div>
                </details>
                <details>
                    <summary>I’m new to working out, are LIVE classes safe for beginners like me?</summary>

                    <div>
                        <p>LIVE classes are tagged basis levels - beginner, intermediate and advanced. In case you are
                            suffering through an injury, chronic pain or medical condition, we recommend checking with a
                            medical expert before attending LIVE classes.</p>
                    </div>
                </details>
                <details>
                    <summary>What are the types of workouts featured in LIVE classes?</summary>

                    <div>
                        <p>Most of our workouts are no-equipment routines across fitness formats like strength, cardio,
                            yoga, HRX and more. We recommend you wear comfortable shoes and keep a napkin and water
                            bottle
                            handy.</p>
                    </div>

                </details>

            </div>
        </div>

        <div class="bottom">
            <h1 class="H">BE SPIRITED</h1>
            <h1 class="D">FEARLESS</h1>
            <h2 class="L">AN EVERYDAY ATHLETE<h2>
        </div>
    </div>

   

</body>
</html>
<script>

function homePage() {
            window.location.pathname = "/";
        }

     function storePage() {
            window.location.pathname = "/store";
        }

        function toMind() {
            window.location.pathname = "/mind";
        }

        function toCare() {
            window.location.pathname = "/care";
        }

        function toCult() {
            window.location.pathname = "/cult";
        }

        function toLive() {
            window.location.pathname = "/live";
        }


    function toCart() {
        window.location.pathname = "/cart";
    }
</script>