<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg" />
    <!-- <link rel="stylesheet" href="signUp.css" /> -->
    <title>SignUp</title>
    <style>
        :root {
            --primary-text: #000000;
            --secondary-text: #fff;
            --blue: #29b9ed;
            --background: #fff;
            --text-hover: #b2b2b2;
            --button: #ff306e;
            --main-btn: linear-gradient(to left, #f84336, #ff306e);
        }

        * {
            font-family: poppins, sans-serif;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            position: relative;
            margin: 0;
            padding-bottom: 6rem;
            height: 200px;
            width: 90%;
        }

        /* nav-bar styling */
        #navBar {
            width: 100%;
            height: 60px;
            position: fixed;
            background-color: var(--secondary-text);
            box-shadow: 5px 5px 10px rgba(223, 223, 223, 0.404);
            display: flex;
            gap: 50px;
            align-items: center;
            top: 0;
        }

        /* cult-logo */

        .nav-middle {
            display: flex;
            gap: 100px;
            align-items: center;
            justify-content: center;
            margin-left: 380px;
        }

        .nav-CultFit-Logo>img {
            width: 100%;
            padding: 10px;
            margin-left: 30px;
            cursor: pointer;
        }

        .nav-store-Logo,
        .nav-live-Logo,
        .nav-cult-Logo,
        .nav-mind-Logo,
        .nav-care-Logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        .nav-live-Logo>img {
            width: 20px;
        }

        .nav-cult-Logo>img {
            width: 20px;
        }

        .nav-mind-Logo>img {
            width: 20px;
        }

        .nav-store-Logo>img {
            width: 20px;
        }

        .nav-care-Logo>img {
            width: 20px;
        }

        .navText {
            font-size: 13px;
            font-weight: 400;
        }

        /* Nav right section */
        .nav-right {
            display: flex;
            width: 250px;
            padding: 4px;
            height: 60px;
            align-items: center;
            gap: 25px;
            margin-left: 280px;
            margin-right: 5px;
        }

        .nav-login-Logo {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .nav-cart-Logo>img {
            width: 20px;
        }

        .nav-login-Logo>img {
            width: 15px;
        }

        /* Sign UP */

        #container-signup {
            width: 600px;
            height: auto;
            margin: auto;
            margin-top: 80px;
            box-shadow: 5px 5px 10px rgba(223, 223, 223, 0.404);
            /* border-top-color: #b2b2b2; */
            padding: 20px;
            border: 0.5px solid #9999993a;
            border-radius: 5px;
            margin-left: 500px;
        }

        input {
            width: 100%;
            border: 1px grey;
            border-bottom-style: solid;
            margin-bottom: 20px;
            font-weight: 400;
            height: 40px;
            margin-top: 5px;
            padding: 10px;
            outline: #ff306e;
        }

        label {
            font-weight: 600;
            color: #ff306e;
            font-size: 12px;
        }



        #container-signup>#form-signup>input {
            width: 250px;
            height: 30px;
            border-radius: 10px;
        }

        #container-signup>#form-signup>input[type="submit"] {
            background-color: orangered;
        }

        #submit {
            background: var(--main-btn);
            color: white;
            width: 300px;
            height: 40px;
            margin-left: 120px;
            border: none;
            border-radius: 20px;
        }

        #submit:hover {
            background: linear-gradient(to right, #f84336, #ff306e);
        }
    </style>
</head>

<body>
    <!-- nav bar -->
    <div id="navBar">
       <a href="/">
    <div class="nav-CultFit-Logo">
        <img src="https://static.cure.fit/assets/images/curefit-v-man.svg" onclick="homePage()" />
    </div></a>

        <!-- Nav Middle items -->
        <div class="nav-middle">
            <div class="nav-live-Logo">
                <img src="https://static.cure.fit/assets/images/Livefit.svg" />
                <p class="navText">LIVE</p>
            </div>

            <div class="nav-cult-Logo">
                <img src="https://static.cure.fit/assets/images/cult-icon.svg" alt="cult_logo" />
                <p class="navText">CULT</p>
            </div>

            <div class="nav-mind-Logo">
                <img src="https://static.cure.fit/assets/images/mind-icon.svg" alt="" />
                <p class="navText">MIND</p>
            </div>

            <div class="nav-care-Logo">
                <img src="https://static.cure.fit/assets/images/carefit-blk.svg" alt="" />
                <p class="navText">CARE</p>
            </div>

            <div class="nav-store-Logo">
                <img src="https://static.cure.fit/assets/images/store-icon.svg" onclick="storePage()" alt="" />
                <p class="navText" id="store" onclick="storePage()">STORE</p>
            </div>
        </div>

        <div class="nav-right">
            <div class="nav-login-Logo" onclick="call()" id="login">
                <img src="https://static.cure.fit/assets/images/user-image.svg" alt="" />


                <!-- Cart button -->
                <div class="nav-cart-Logo">
                    <img src="https://static.cure.fit/assets/images/cart-image.svg" alt="" />
                </div>
            </div>
        </div>
    </div>


    <!-- Sign UP caontainer -->

    <div id="container-signup">
        <div class="fill-all">
            <p id="fill-all-details" style="color: red"></p>
        </div>

        <form action="/register" method="POST" id="form-signup">
            <!-- nname -->
            <div class="name-part">
                <label for="username">Name</label>
                <div class="name-part">
                    <input type="text" id="username" name="username" placeholder="Enter your username" class="effect-8">
                    <span class="focus-border">
                        <i></i>
                    </span>
                </div>

                <!-- <label>NAME</label>
            <div class="name-part">

                <input type="text" id="name" placeholder="Enter your fullname" class="effect-8" />
                <span class="focus-border">
                    <i></i>
                </span>
            </div>

            <div> -->
                <!-- email -->
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Enter your Email address">



                    <!-- <label>Email</label>
                <input type="text" id="email" placeholder="Enter your Email address" /> -->
                </div>

                <div>
                    <!-- phone no -->


                    <label for="phone">Mobile Number</label>
                    <input type="number" name="phone_no" id="phone" placeholder="Enter your Phone number">

                    <!-- <label>Phone Number</label>
                <input type="number" id="number" placeholder="Enter your Phone number" /> -->
                </div>

                <div>


                    <label for="gender">Gender</label>
                    <input type="text" id="gender" name="gender" placeholder="gender">

                </div>

                <div>


                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" placeholder="age">


                </div>

                <div>
                    <!-- password -->

                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" placeholder="Enter your password">


                </div>

                <!-- <div>-->
                <!-- re-enter password -->
                <!-- <label>Re enter the password</label>
                <input type="password" id="re-password" placeholder="Enter your password" />
            </div> -->

                <span id="message-re-enter" style="color: var(--button) "></span>


                <!-- Button of create new account -->
                <button id="submit">
                    Create account
                </button>
        </form>
    </div>

</body>

</html>