
/* nav-bar */
/* nav-bar */
:root {
    --primary-text: #000000;
    --secondary-text: #fff;
    --blue: #29b9ed;
    --background: #fff;
    --text-hover: #b2b2b2;
    --button: #ff306e;
    --main-btn: linear-gradient(to left, #f84336, #ff306e);
  }
  
  * {
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }
  
  /* nav-bar styling */
  #navBar {
    width: 100%;
    ;

    position: fixed;
    background-color: var(--secondary-text);
    box-shadow: 5px 5px 10px rgba(223, 223, 223, 0.404);
    display: flex;
    align-items: center;
    top: 0;
  }
  /* cult-center */
  .cult-center{
      margin-left: 50px;

  }
  /* cult-logo */
  
  .nav-middle {
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
  }
  
  .nav-CultFit-Logo > img {
    width: 100%;
    padding: 10px;
    margin-left: 5px;
}
  .cult-center>img{
    height: 42px;
  }
  /* logo-cont-cult paragraph tag in nav */
  .logo-cont-cult{
    font-weight: 1000;
  }
  .nav-store-Logo,
  .nav-live-Logo,
  .nav-cult-Logo,
  .nav-mind-Logo,
  .nav-care-Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .nav-live-Logo > img {
    width: 30px;
  }
  
  .nav-cult-Logo > img {
    width: 30px;
  }
  
  .nav-mind-Logo > img {
    width: 30px;
  }
  
  .nav-store-Logo > img {
    width: 30px;
  }
  
  
  .nav-care-Logo > img {
    width: 30px;
  }
  
  .navText {
    font-size: 13px;
    font-weight: 400;
  }
  
  
  /* Nav right section */
  .nav-right {
    display: flex;
    width: 250px;
    padding: 4px;
    height: 60px;
    align-items: center;
    gap: 25px;
    margin-left: 220px;
    margin-right: 5px;
  }
  
  .nav-login-Logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav-cart-Logo > img {
    width: 20px;
  }
  .nav-login-Logo > img {
    width: 15px;
  }
  
  



/* nav-bar end */
/* nav-bar -end */
/* upper-image cultcenterimage */
.cultcenterimg{
    width: 100%;
    height: 300px;
}
.cultcenterimg img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 61px;
}
.image-2{
    width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 27px;

}
.image-2 img{
    max-width: 80%;
    height: 90%;
    margin-left: 111px;
    margin-top: 20px;
    
}
.videoclip{
    width: 100%;
    height: 300px;
}

.videoclip img{
    max-width: 100%;
    height: 100%;
    margin-top: 56px
}

/* drop-down */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clear {
clear: both;
margin-bottom: 50px;
}
.content {
margin-left: 150px;
padding-top: 30px;
font-size: 20px;
}
.content > h5 {
color: grey;
}
.content > p {
color: grey;
}
.content >.right {
float: right;
font-size: 16px;
color: rgb(241, 31, 31);
padding-right: 60px;
margin-top: 31px;
}

.bottom{
padding-left: 180px;
line-height: 20px;
margin-left: -83px;
padding-top: 28px;
}
.H{
color: rgb(83, 82, 82);

font-size: 78px;
}
.D{
font-size: 80px;
color: rgb(146, 145, 145);
margin-top: 57px;
}
.L{
font-size: 50px;
color: rgb(180, 179, 179);
margin-top: 76px;
}
.wholediv{
padding: 40px 0px;
background-color: rgb(242, 244, 248);
margin-top: 131px;
}
.takewhole{
padding: 30px;
margin-bottom: 20px;
margin-left: 63px;
}
details{
padding: 20px;
}
.faq{
font-size:28px ;
color: black;
margin-left: -129px;

}
.ques{
font-size:20px ;
color: grey;
margin-left: -129px;
margin-top: 13px;
}

/* online-pt */
/* therapy- pack */
.online-pt{
    background-color: rgb(88, 98, 132);
    margin: 40px 0px;
    height: 394px;
    width: 100%;
    position: relative;
    top: 26px;
    
}
.heading-opt{
    font-size: 16px;
    color: grey;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 1000;
    text-align: center;
    padding-top: 30px;
}

.heading-opt-enjoy
{
    margin: 35px 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.container-pt{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 59px;
}
.container-pt div{
    display: flex;
    justify-content: center;
}
.at-home{
    
}
/* css for container */
/* start */
.at-home img{
   
    margin-top: -12px;
    width: 30px;
   
    justify-content: center;
    height: 29px;
}
.personalised-img{
    margin-top: -12px;
    width: 30px;
    height: 29px;
    justify-content: center;

}

.posture-img{
    margin-top: -12px;
    width: 30px;
    height: 29px;
    justify-content: center;

}
.at-home-cont{
    margin-left: 0px;
   color: white;
    text-align: center;
    font-size: 16px;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

}
.personalised-cont{
    margin-left: 0px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.posture-cont{
    margin-left: 0px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
/* end */


.subscription{
    font-size: 20px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: center;
    color: white;
    margin-top: 47px;
}

/* css coupon */
.coupon{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 32px;
    

}
/* coupon 1 start */
.coupon-1{
   
    margin: 10px 24px;
    width:unset ;
    flex-direction: column;
    outline: none;
    /* width: 224px */
    
}
.coupon-2{
    margin: 10px 24px;
    width: unset;
    flex-direction: column;
    outline: none;
    /* width: 224px */
    
}

.coupon-3{
    margin: 10px 24px;
    width: unset;
    flex-direction: column;
    outline: none;
    /* width: 224px */
    
}

.buy-and-price{
   
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 13%) 0px 2px 4px 0px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.sessions-price{
    font-size: 20px;
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    width: 150px;
}

.para{
    overflow: hidden;
    font-size: 16px;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin: 0px;
}

.discount{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row;
    width: fit-content;
}

.cross-rate{
    min-width: fit-content;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.34);
    text-decoration: line-through;
    margin-right: 6px;
}

.actual-price{
    min-width: fit-content;
    color: rgb(0, 0, 0);
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.validity{
    display: flex;
    font-size: 16px;
    color: rgb(155, 155, 155)

}

.buy{
    border-radius: 100px;
    align-self: center;
    padding: 0px 0px 0px 5px;
    text-align: center;
   
    font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 50, 120);
    margin: 0px;
    background: rgb(255, 255, 255);

}

.somthing{

    display: grid;
    border-radius: 10px;
    align-items: self-start;
    grid-template-columns: 12% auto;
    background: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%) center top / 13px 1px repeat-x rgb(216, 232, 255);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}


.somthing-img{

    transform: rotate(
        -90deg
        );
            padding: 0px 5px;
}

.somthing-para p{
    color: rgb(54, 54, 54);
    font-family: BrandonTextWeb-Regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 0px 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

/* videos */
.video-flex{
    display: flex;
    margin: auto;
    margin-top: 67px;
    margin-left: 74px;
   
}
.video-flex div{
    flex-direction: row;
}
.video-2{
    margin-left: 75px;
}
.video-1{
    margin-left: 57px;
}
.video-cont{
    margin-left: 126px;
   
    margin-top: 71px
}
