<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/order.css">
</head>

<body>
    <div id="order-page-style">
        <!-- nav bar -->
        <div id="navBar">
            <div class="nav-CultFit-Logo">
                <img src="https://static.cure.fit/assets/images/curefit-v-man.svg" onclick="homePage()" />
            </div>

            <!-- Nav Middle items -->
            <div class="nav-middle">
                <div class="nav-live-Logo">
                    <img src="https://static.cure.fit/assets/images/Livefit.svg" />
                    <p class="navText">LIVE</p>
                </div>

                <div class="nav-cult-Logo">
                    <img src="https://static.cure.fit/assets/images/cult-icon.svg" alt="cult_logo" />
                    <p class="navText">CULT</p>
                </div>

                <div class="nav-mind-Logo">
                    <img src="https://static.cure.fit/assets/images/mind-icon.svg" alt="" />
                    <p class="navText">MIND</p>
                </div>

                <div class="nav-care-Logo">
                    <img src="https://static.cure.fit/assets/images/carefit-blk.svg" alt="" />
                    <p class="navText">CARE</p>
                </div>

                <div class="nav-store-Logo">
                    <img src="https://static.cure.fit/assets/images/store-icon.svg" onclick="storePage()" alt="" />
                    <p class="navText" id="store" onclick="storePage()">STORE</p>
                </div>
            </div>

            <div class="nav-right">
                <div class="location">
                    <p class="navText">Delhi, INDIA</p>
                </div>

                <!-- Login page -->
                <div class="nav-login-Logo" onclick="call()" id="login">
                    <img src="https://static.cure.fit/assets/images/user-image.svg" alt="" />
                    <p onclick="call()" class="navText login-text">LOGIN</p>



                    <!-- Dropdown Div -->
                    <div id="dropdown" class="dropdown">
                        <img src="https://www.bing.com/th?id=OIP.2hAVCZRMcBjsE8AGQfWCVQHaHa&w=100&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
                            class="dropbtn" />

                        <span>
                            <img class="dropbtna"
                                src="https://www.bing.com/th?id=OIP.HapMrLcuA7ELRyK2rnaZaAHaHa&w=100&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" />
                        </span>

                        <div class="dropdown-content">
                            <a href="./profile"><span>
                                    <img src="https://static.cure.fit/assets/images/profile-icon.svg" /></span>
                                Profile</a>

                            <a href="./order"><span><img
                                        src="https://static.cure.fit/assets/images/cart-black.svg" /></span>Orders</a>

                            <a href="#"><span><img
                                        src="https://static.cure.fit/assets/images/health-profile-black.svg" /></span>Medical
                                Records</a>

                            <a href="./subscription"><span><img
                                        src="https://static.cure.fit/assets/images/combined-shape-black.svg" /></span>Active
                                Packs</a>

                            <a href="./reedem"><span><img
                                        src="https://static.cure.fit/assets/images/coupon-black.svg" /></span>Redeem
                                Voucher</a>

                            <a href="#"><span><img
                                        src="https://static.cure.fit/assets/images/settings-black.svg" /></span>Account</a>

                            <a href="./support"><span><img
                                        src="https://static.cure.fit/assets/images/support-black.svg" /></span>Support</a>

                            <a href="/logout"><span><img
                                        src="https://static.cure.fit/assets/images/logout-black.svg" /></span>Logout</a>
                        </div>
                    </div>
                </div>

                <!-- Cart button -->
                <div class="nav-cart-Logo">
                    <img src="https://static.cure.fit/assets/images/cart-image.svg" alt="" />
                </div>
            </div>
        </div>


        <!-- Dropdown -->
        <div id="dropdown" class="dropdown">
            <img src="https://www.bing.com/th?id=OIP.2hAVCZRMcBjsE8AGQfWCVQHaHa&w=100&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
                class="profie-icon" />


            <!-- arrow icon -->
            <span>
                <img class="dropdown-arrow"
                    src="https://www.bing.com/th?id=OIP.HapMrLcuA7ELRyK2rnaZaAHaHa&w=100&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" />
            </span>


            <div class="dropdown-content">
                <!-- profile-->
                <a href="./profile">
                    <span>
                        <img src="https://static.cure.fit/assets/images/profile-icon.svg" />
                    </span>
                    Profile
                </a>

                <!-- orders -->
                <a href="./order">
                    <span>
                        <img src="https://static.cure.fit/assets/images/cart-black.svg" />
                    </span>Orders
                </a>

                <!-- medical records -->
                <a href="#">
                    <span>
                        <img src="https://static.cure.fit/assets/images/health-profile-black.svg">
                    </span>Medical
                    Records
                </a>

                <!-- subscrption -->
                <a href="./subscription">
                    <span>
                        <img src="https://static.cure.fit/assets/images/combined-shape-black.svg" />
                    </span>Active
                    Packs
                </a>

                <!-- redeem -->
                <a href="./reedem">
                    <span>
                        <img src="https://static.cure.fit/assets/images/coupon-black.svg" />
                    </span>Redeem Voucher
                </a>

                <!-- account -->
                <a href="#">
                    <span>
                        <img src="https://static.cure.fit/assets/images/settings-black.svg" />
                    </span>Account
                </a>

                <!-- support -->
                <a href="./support">
                    <span>
                        <img src="https://static.cure.fit/assets/images/support-black.svg" />
                    </span>Support
                </a>

                <!-- logout -->
                <a href="/logout">
                    <span>
                        <img src="https://static.cure.fit/assets/images/logout-black.svg" />
                    </span>Logout
                </a>
            </div>
        </div>






        <!-- info section after nav -->

        <div id="profile-sidebar">
            <!-- sidebar -->
            <div class="left-sidebar-profile">
                <!-- upper profile section of sidebar -->
                <a href="./profile">
                    <div onclick="profile()" class="profile-section">
                        <div class="profile-photo">
                            <!-- <img
                            src="https://www.bing.com/th?id=OIP.2hAVCZRMcBjsE8AGQfWCVQHaHa&w=100&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" /> -->
                        </div>

                        <!-- name and link of view profile -->
                        <div class="name-section-profile">
                            <h3 id="profilename"></h3>

                            <p class="view-profile-text">VIEW PROFILE</p>
                        </div>
                    </div>
                </a>

                <hr class="line">


                <!--order section -->
                <a href="./order">
                    <div onclick="redirect()" class="sidebar-div">
                        <div class="sidebar-text">Orders</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/cart-black.svg" />
                        </div>
                    </div>
                </a>

                <!-- medical records -->

                <div class="sidebar-div">
                    <div class="sidebar-text">Medical Records</div>
                    <div class="sidebar-icon">
                        <img src="https://static.cure.fit/assets/images/health-profile-black.svg" />
                    </div>
                </div>

                <!-- sucsrption -->
                <a href="./subscription">
                    <div onclick="subscription()" class="sidebar-div">
                        <div class="sidebar-text">Active Packs and Subscription</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/combined-shape-black.svg" />
                        </div>
                    </div>
                </a>
                <!-- redeem voucher -->

                <a href="./reedem">
                    <div onclick="govoucher()" class="sidebar-div">
                        <div class="sidebar-text">Redeem Voucher</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/coupon-black.svg" />
                        </div>
                    </div>
                </a>


                <!-- account -->

                <div class="sidebar-div">
                    <div class="sidebar-text">Account</div>
                    <div class="sidebar-icon">
                        <img src="https://static.cure.fit/assets/images/settings-black.svg" />
                    </div>
                </div>

                <!-- support -->
                <a href="./support">
                    <div onclick="support()" class="sidebar-div">
                        <div class="sidebar-text">Support</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/support-black.svg" />
                        </div>
                    </div>
                </a>

                <!-- logout -->
                <div onclick="logout()" class="sidebar-div">
                    <div class="sidebar-text">Logout</div>
                    <div class="sidebar-icon">
                        <img src="https://static.cure.fit/assets/images/logout-black.svg" />
                    </div>
                </div>
            </div>
        </div>



        <div id="content">
            <!--<p class="order-heading">ACTIVE PACKS & SUBSCRIPTIONS</p>
            <div id="data"> -->
            <!-- <div class="order-image"> -->
            <% item.orders.forEach(el=> {

                el.forEach(p => { %>
                <div class="main">
                    <img class="image" src="<%= p.image %>">
                    <p class="name">Name : <%= p.name %>
                    </p>
                    <p class="price">Price : <%= p.price %>
                    </p>
                    <p>status: On the way</p>
                </div>
                <% }); }) %>
                    <!-- <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/image/mePage/no-active-packs%402x.png"> -->
                    <!--</div> -->

                    <div id="para">
                        <!-- <h2 class="para-heading">Your Packs Go Here</h2>
                    <p class="para-subheading">A pack is a set of healthy activities for you to do over <br>a few days. Get packs to build
                        healthy
                        habitssteadily. Get started, find packs you like:</p> -->
                        <!-- <button onclick="main()" class="explore-cart">Explore cult.fit</button>-->
                    </div>
        </div>

    </div>

    <!-- <div id="content"> </div> -->
    </div>





</body>

</html>
<script src="./js/order.js">



</script>