
    /*dropdown*/

    .dropbtn-image {
        width: 20px;
        height: 20px;
    }

    .dropdown-arrow {
        background-color: #4caf50;
        color: white;
        font-size: 12px;
        border: none;
        cursor: pointer;
        border: black;
        width: 20px;
        height: 20px;
        margin-top: 2px;

    }

    body a {
  text-decoration: none;
  color: var(--primary-text);
}


    .after-login {
        display: flex;
        align-items: center;
    }

    .dropdown-content  {
  right: 0;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.103);
  z-index: 1;
  margin-right: 5px;
  margin-top: 10px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }

    .dropdown-content a:hover {
        background-color: #f8f8f8;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    #dropdown {
        display: none;
    }

    /* dropdown icons */
    .dropdown-content>a>span {
        width: 500px;
        margin-right: 5px;
    }

    /* dropdown profile image */
    #dropdown>img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: white;
    }





    :root {
        --primary-text: #000000;
        --secondary-text: #fff;
        --blue: #29b9ed;
        --background: #fff;
        --text-hover: #b2b2b2;
        --button: #ff306e;
        --main-btn: linear-gradient(to left, #f84336, #ff306e);
    }

    * {
        font-family: poppins, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        /* position: relative; */
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
    }

    /* nav-bar styling */
    #navBar {
        width: 1540px;
        height: 60px;
        position: fixed;
        background-color: var(--secondary-text);
        box-shadow: 5px 5px 10px rgba(223, 223, 223, 0.404);
        display: flex;
        align-items: center;
        top: 0;
        z-index: 1;
    }

    /* cult-logo */

    .nav-middle {
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
        margin-left: 400px;
    }

    .nav-CultFit-Logo>img {
        width: 100%;
        padding: 10px;
        margin-left: 10px;
        cursor: pointer;
    }

    .nav-store-Logo,
    .nav-live-Logo,
    .nav-cult-Logo,
    .nav-mind-Logo,
    .nav-care-Logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
    }

    .nav-live-Logo>img {
        width: 20px;
        cursor: pointer;
    }

    .nav-cult-Logo>img {
        width: 20px;
        cursor: pointer;
    }

    .nav-mind-Logo>img {
        width: 20px;
        cursor: pointer;
    }


    .nav-store-Logo>img {
        width: 20px;
        cursor: pointer;
    }

    .nav-care-Logo>img {
        width: 20px;
        cursor: pointer;
    }

    .navText {
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
    }

    /* Nav right section */
    .nav-right {
        display: flex;
        width: 250px;
        padding: 4px;
        height: 60px;
        align-items: center;
        gap: 25px;
        margin-left: 220px;
        margin-right: 5px;
        /* background-color: aqua; */
    }

    .login-text {
        background-color: bisque;
        cursor: pointer;
    }

    .nav-login-Logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .nav-cart-Logo>img {
        width: 20px;
        cursor: pointer;
    }

    .nav-login-Logo>img {
        width: 15px;
        cursor: pointer;
    }

    #body {
        width: 100%;
    }

    #body img {
        width: 100%;
        margin: auto;
        margin-top: 60px;

    }

    .clear {
        clear: both;
        margin-bottom: 50px;
    }

    .content {
        margin-left: 150px;
        padding-top: 30px;
        font-size: 20px;
    }

    .content>h5 {
        color: grey;
    }

    .content>p {
        color: grey;
    }

    #cate {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin: auto;
        
    }

    .quest {
        background-color: rgb(241, 239, 239);
        height: 600px;
    }


    .right {
        float: right;
        font-size: 16px;
        color: rgb(241, 31, 31);
        padding-right: 60px;
    }

    #bottom {
        padding-left: 180px;
        line-height: 20px;
    }

    .H {
        color: rgb(83, 82, 82);
        font-size: 120px;
        margin-bottom: 80px;
        margin-top: 10px;

    }

    .D {
        font-size: 80px;
        color: rgb(146, 145, 145);
        margin-bottom: 60px;
    }

    .L {
        font-size: 50px;
        color: rgb(180, 179, 179);
        margin-bottom: 60px;
    }


    details {

        padding-left: 180px;

    }

    details>summary {
        color: grey;
        font-size: 20px;
        line-height: 60px;
    }

    details p {
        color: grey;
        padding-right: 50px;
        background-color: rgb(228, 225, 225);
        margin-right: 50px;
        padding-left: 5px;

    }

    #cate>img {
        display: inline;
        width: 100%;
        border-radius: 5px;
    }

    #cate>img:hover {
        transform: scale(0.9);

        transition: 1s;
    }


    /* Footer section */

#footer {
  background-color: black;
  display: flex;
  gap: 200px;
  padding: 40px;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  margin-top: 30px;
}

.logo-footer {
  width: 400px;
  margin-left: 140px;
}

.text-Footer-P {
  color: rgb(172, 172, 172);
  text-align: left;
  line-height: 20px;
}

.logo-footer > img {
  width: 120px;
  margin-bottom: 20px;
}

.fText {
  font-size: 16px;
  text-align: right;
  color: white;
  line-height: 30px;
}

.right {
  display: flex;
  gap: 50px;
}

.playStore {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 60px;
}

.playStore > img {
  width: 120px;
}

