:root {
  --primary-text: #000000;
  --secondary-text: #fff;
  --blue: #29b9ed;
  --background: #fff;
  --text-hover: #b2b2b2;
  --button: #ff306e;
  --main-btn: linear-gradient(to left, #fa6359, #ff437c);
}

* {
  /* font-family: BrandonTextWeb-Regular, Helvetica Neue, Helvetica, Roboto, Arial,
      sans-serif; */
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* nav-bar styling */
#navBar {
  width: 1540px;
  height: 60px;
  position: fixed;
  background-color: var(--secondary-text);
  box-shadow: 5px 5px 10px rgba(223, 223, 223, 0.404);
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1;
}

/* cult-logo */

.nav-CultFit-Logo > img {
  width: 50%;
  margin-left: 30px;
  cursor: pointer;
}
.cultText {
  font-size: 14px;
  color: var(--button);
  cursor: pointer;
  text-align: center;
  margin-left: 650px;
}

.cultText > h1 {
  text-align: center;
}

.nav-login-Logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 690px;
  cursor: pointer;
}

.nav-cart-Logo > img {
  width: 20px;
  cursor: pointer;
}
.nav-login-Logo > img {
  width: 15px;
  cursor: pointer;
}

/*modal start*/
#modal1 {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 60px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 60px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#modal-content {
  border-radius: 10px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* height: 600px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: gray;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#model-header {
  width: 100%;
  height: 20px;
}

#model-header span {
  float: right;
}

.model-body {
  /* display: flex;
                          flex-direction:column;*/
  text-align: center;
}

/* .model-body .image {
                          margin-top:30px;
                          margin-left:100px;
                          width:130px;
  
                          height:130px;
                          /* border:2px solid black; */
/* } */

#model-left {
  float: left;
  font-size: 14px;
}

#modal-body > button {
  margin-top: 20px;
  color: white;
  font-size: 12px;
  background: var(--main-btn);
  width: 300px;
  cursor: pointer;
  border: none;
  height: 40px;
  border-radius: 5px;
}

#button {
  clear: both;
}

#addbtn {
  width: 200px;
  height: 40px;
  background-color: var(--button);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}

.paymentBtn {
  margin-top: 20px;
  color: white;
  font-size: 12px;
  background: var(--main-btn);
  width: 300px;
  cursor: pointer;
  border: none;
  height: 40px;
  border-radius: 5px;
}

/*End modal*/

#container {
  width: 70%;
  margin: auto;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 60px;
  /* height: 400px; */
  margin-top: 80px;
  padding: 20px;
}

#container > #order-content > #one_content {
  /* display:grid;
                  grid-template-columns: 40% 58%;
                  grid-gap:2px;
                  border:1px solid black; */
  display: flex;
  flex-direction: row;
}

.image_container {
  width: 30px;
  height: 30px;
  /* border:2px solid black; */
}

.location-icon {
  width: 20px;
  height: 20px;
}

.line {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modify-address-div {
  display: flex;
  margin-left: 20px;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  /* background-color: #fa6359; */
}

.modify-address-div > img {
  width: 20px;
  height: 20px;
}

#addright {
  color: var(--button);
}
#addleft {
  font-size: 14px;
  text-transform: uppercase;
}

.total-price,
#showTotalPrice,
.discount-text,
#showTotalDiscount,
.implement-voucher {
  font-size: 14px;
}

.voucher-btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background: var(--main-btn);
  color: white;
}

.total-payable {
  font-size: 18px;
}

#addleft > span > img {
  margin-bottom: -10px;
  margin-right: 20px;
}

.image_container > img {
  width: 100%;
}

#first {
  display: grid;
  grid-template-columns: 100% 100%;
  /* grid-gap:5px; */
  margin-top: 20px;
  margin-bottom: 10px;
  height: 20px;
}

#name_right {
  float: left;
  margin-left: 10px;
}

#cross {
  float: right;
  width: 30px;
  margin-left: -10px;
  color: red;
  cursor: pointer;
  background-color: black;
}

#image_div {
  height: 200px;
  margin-top: 20px;
}

#image {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

#band {
  margin-left: 10px;
  font-size: 14px;
  color: gray;
  /* margin-top: 5px; */
}

#size {
  margin-left: 10px;
}

input {
  /* background-color: black; */
  color: var(--text-hover);
  width: 20px;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  background: transparent;
  border: none;
}

#priceQuantity {
  /* margin-top: 20px; */
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

#quantity {
  width: auto;
  height: 40px;
  /* margin-top: 10px; */
  margin-left: 80px;
  border: 1px solid #ff306e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 10px;

  /* flex-grow:auto; */
}

#p_minus {
  float: left;
  text-align: center;
  margin: 0px;
  font-size: 30px;
  /* margin-left: 14px; */
  cursor: pointer;
  color: var(--button);
}

#p_quantity {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
}

#p_plus {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: var(--button);
}

/* Address part*/
#selectAddress {
  cursor: pointer;
}

hr {
  clear: both;
}

#top {
  font-size: 17px;
  font-weight: bold;
}

#pricePart {
  display: grid;
  grid-template-rows: 30px 30px 30px 30px;
  grid-gap: 8px;
  /* border:1px solid black; */
}

#totalPrice > p:nth-child(1),
#totalPayble > p:nth-child(1),
#discount > p:nth-child(1),
#voucher > p:nth-child(1) {
  float: left;
  margin-left: 30px;
  color: gray;
  height: 20px;
}

#totalPrice > p:nth-child(2),
#totalPayble > p:nth-child(2),
#discount > p:nth-child(2),
#voucher > button {
  float: right;
  margin-right: 40px;
  color: gray;
}

#voucher > button {
  color: white;
  cursor: pointer;
}

#totalPayble > p:nth-child(1),
#totalPayble > p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-top: 20px;
}

#addCity {
  /* display: none; */
  height: 50px;
}

#saveAddress {
  width: 250px;
  height: 30px;
}

#saveAddress:hover {
  font-size: 30px;
  cursor: pointer;
}

#cityname {
  width: 350px;
  height: 40px;
  border-radius: 2px;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid black;
}


#addressselectbutton,
#checkoutbutton {
  margin-top: 40px;
  height: 40px;
  margin-left: 300px;
  background: var(--main-btn);
  border-radius: 10px;
  width: 150px;
  border: none;
  color: white;
  cursor: pointer;
}

#addressselectbutton:hover,
#checkoutbutton:hover {
  margin-top: 40px;
  height: 40px;
  margin-left: 300px;
  background: var(--button);
  border-radius: 10px;
  width: 150px;
  border: none;
  color: white;
}

#addressselectbutton {
  display: block;
}

#checkoutbutton {
  /* display: none; */
}

body a {
  text-decoration: none;
  color: var(--primary-text);
}
