* {
  margin: 0px;
  padding: 0px;
}

body a {
  text-decoration: none;
  color: var(--primary-text);
}

.image1 {
  width: 110%;
  background-color: black;
}

.image1 img {
  margin-top: 60px;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

.cont {
  width: 1300px;
  margin: auto;
}

.image2 {
  margin-top: 40px;

}

.image3{
  margin-top: 20px;
}
.image2 img, .image3 img {
  width: 100%;
}
.online-pt {
  background-color: rgb(66, 66, 83);
  /* margin: 40px 0px; */
  width: 100%;
  position: relative;
  top: 50px;
  bottom: 50px;
  
}
.heading-opt {
  color: rgb(255, 255, 255);
  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 34px;
  text-align: center;
  padding-top: 30px;
}
.heading-opt-member {
  color: rgb(136, 142, 158);
  font-size: 16px;
  text-align: center;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin-top: 9px;
}
.heading-opt-enjoy {
  margin: 35px 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}
.container-pt {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.container-pt div {
  display: flex;
  justify-content: center;
}
.at-home {
}
/* css for container */
/* start */
.at-home img {
  margin-top: -12px;
  width: 30px;
  height: 40px;
  justify-content: center;
}
.personalised-img {
  margin-top: -12px;
  width: 30px;
  height: 40px;
  justify-content: center;
}

.posture-img {
  margin-top: -12px;
  width: 30px;
  height: 40px;
  justify-content: center;
}
/* end */

/* css for container text */
/* start */
.at-home-cont {
  margin-left: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}
.personalised-cont {
  margin-left: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}

.posture-cont {
  margin-left: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}
/* end */

.subscription {
  font-size: 20px;
  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 47px;
}

/* css coupon */
.coupon {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
/* coupon 1 start */
.coupon-1 {
  margin: 10px 24px;
  width: unset;
  flex-direction: column;
  outline: none;
  /* width: 224px */
}
.coupon-2 {
  margin: 10px 24px;
  width: unset;
  flex-direction: column;
  outline: none;
  /* width: 224px */
}

.coupon-3 {
  margin: 10px 24px;
  width: unset;
  flex-direction: column;
  outline: none;
  /* width: 224px */
}

.buy-and-price {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 13%) 0px 2px 4px 0px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.sessions-price {
  font-size: 20px;
  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  width: 150px;
}

.para {
  overflow: hidden;
  font-size: 16px;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  margin: 0px;
}

.discount {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-flow: row;
  width: fit-content;
}

.cross-rate {
  min-width: fit-content;
  font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  color: rgba(0, 0, 0, 0.34);
  text-decoration: line-through;
  margin-right: 6px;
}

.actual-price {
  min-width: fit-content;
  color: rgb(0, 0, 0);
  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
}

.validity {
  display: flex;
  font-size: 16px;
  color: rgb(155, 155, 155);
}

.buy {
  border-radius: 100px;
  align-self: center;
  padding: 0px 0px 0px 5px;
  text-align: center;

  font-family: BrandonTextWeb-Bold, "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: rgb(255, 50, 120);
  margin: 0px;
  background: rgb(255, 255, 255);
}

.somthing {
  display: grid;
  border-radius: 10px;
  align-items: self-start;
  grid-template-columns: 12% auto;
  background: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%)
    center top / 13px 1px repeat-x rgb(216, 232, 255);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.somthing-img {
  transform: rotate(-90deg);
  padding: 0px 5px;
}

.somthing-para p {
  color: rgb(54, 54, 54);
  font-family: BrandonTextWeb-Regular, "Helvetica Neue", Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 3px 0px 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}
.categories {
  display: flex;
  gap: 20px;
  justify-content: center;
 
}
img {
  width: 100%;
  cursor: pointer;
}
.container {
  position: relative;
  text-align: center;
  color: black;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 10px;

}


/* Footer section */

#footer {
  background-color: black;
  display: flex;
  gap: 200px;
  padding: 40px;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  margin-top: 40px;
}

.logo-footer {
  width: 400px;
  margin-left: 140px;
}

.text-Footer-P {
  color: rgb(172, 172, 172);
  text-align: left;
  line-height: 20px;
}

.logo-footer > img {
  width: 120px;
  margin-bottom: 20px;
}

.fText {
  font-size: 16px;
  text-align: right;
  color: white;
  line-height: 30px;
}

.right {
  display: flex;
  gap: 50px;
}

.playStore {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 60px;
}

.playStore > img {
  width: 120px;
}

/*dropdown*/

.dropbtn-image {
  width: 20px;
  height: 20px;
}
.dropdown-arrow {
  background-color: #4caf50;
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border: black;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.after-login {
  display: flex;
  align-items: center;
}
.dropdown-content {
  right: 0;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.103);
  z-index: 1;
  margin-right: 5px;
  margin-top: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #f8f8f8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#dropdown {
  display: none;
}

/* dropdown icons */
.dropdown-content > a > span {
  width: 500px;
  margin-right: 5px;
}

/* dropdown profile image */
#dropdown > img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
}

:root {
  --primary-text: #000000;
  --secondary-text: #fff;
  --blue: #29b9ed;
  --background: #fff;
  --text-hover: #b2b2b2;
  --button: #ff306e;
  --main-btn: linear-gradient(to left, #f84336, #ff306e);
}

* {
  font-family: poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* nav-bar styling */
#navBar {
  width: 1540px;
  height: 60px;
  position: fixed;
  background-color: var(--secondary-text);
  box-shadow: 5px 5px 10px rgba(223, 223, 223, 0.404);
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1;
}

/* cult-logo */

.nav-middle {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
}

.nav-CultFit-Logo > img {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.nav-store-Logo,
.nav-live-Logo,
.nav-cult-Logo,
.nav-mind-Logo,
.nav-care-Logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.nav-live-Logo > img {
  width: 20px;
  cursor: pointer;
}

.nav-cult-Logo > img {
  width: 20px;
  cursor: pointer;
}

.nav-mind-Logo > img {
  width: 20px;
  cursor: pointer;
}

.nav-store-Logo > img {
  width: 20px;
  cursor: pointer;
}

.nav-care-Logo > img {
  width: 20px;
  cursor: pointer;
}

.navText {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

/* Nav right section */
.nav-right {
  display: flex;
  width: 250px;
  padding: 4px;
  height: 60px;
  align-items: center;
  gap: 25px;
  margin-left: 220px;
  margin-right: 5px;
  /* background-color: aqua; */
}

.login-text {
  background-color: bisque;
  cursor: pointer;
}
.nav-login-Logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-cart-Logo > img {
  width: 20px;
  cursor: pointer;
}
.nav-login-Logo > img {
  width: 15px;
  cursor: pointer;
}

.cult-cont {
  margin-top: 60px;
}
