<footer>
    <!--Footor -->
    <div id="footer">
        <div class="logo-footer">
            <img src="https://static.cure.fit/assets/images/cult-logo-white.svg" />
    
            <p class="text-Footer-P">
                At cult.fit, we make group workouts fun, daily food healthy & tasty,
                mental fitness easy with yoga & meditation, and medical & lifestyle
                care hassle-free. #BeBetterEveryDay
            </p>
        </div>
    
        <div class="right">
            <div class="links1">
                <p class="fText">CONTACT</p>
                <p class="fText">US</p>
                <p class="fText">BLOG</p>
                <p class="fText">TALKS</p>
                <p class="fText">CAREER</p>
            </div>
    
            <div class="links2">
                <p class="fText">CULTFIT FOR BUSINESSES</p>
                <p class="fText">CULT PASS</p>
                <p class="fText">NETWORK</p>
                <p class="fText">CORPORATE</p>
                <p class="fText">PARTNERSHIPS</p>
            </div>
    
            <div class="playStore">
                <img src="https://static.cure.fit/assets/images/app-store.svg" alt="" />
                <img src="https://static.cure.fit/assets/images/play-store.svg" alt="" />
            </div>
        </div>
    </div>

</footer>